/*
*= require_self
*= require_tree ../smartphone
*/

@import "bootstrap-sprockets";
@import "bootstrap";


// header

.navbar-toggle {
  margin-right: 22px !important;
}
.navbar {
  margin-bottom: 0 !important;
}

.smt .navbar-default {
  background-color: #ffffff;
  border-color: #e7e7e7;
  border-top: 12px solid #191d2d;
}

.smt .navbar-header {
  margin-left: 27% !important;
}

.title-custom {
  font-size: 30px !important;
  font-weight: bold !important;
  font-family: AppleSDGothicNeo-Regular, AppleSDGothicNeo-SemiBold, AppleSDGothicNeo-Medium, AppleSDGothicNeo-Bold, AppleSDGothicNeo-Light,AppleSDGothicNeo-Thin;
  text-decoration: none !important;
  color:  #e8b31c !important;
}

.container-fluid {
  margin: 0 !important;
  padding: 0 !important;
}

//  画像の中にテキスト
img {
  // display:block;
  vertical-align: bottom !important;
}
.img-wrapper {
  position: relative !important;
}

.img-wrapper .absolute-text {
  position: absolute !important;
  color: white;
  font-size: 24px;
  font-weight: bold;
  top: 196px !important;
  left: 50px !important;
}

.img-wrapper .absolute-text-pv {
  position: absolute !important;
  color: white;
  font-size: 16px;
  font-weight: bold;
  top: 266px !important;
  left: 50px !important;
}

.img-wrapper .absolute-text-author {
  position: absolute !important;
  color: white;
  font-size: 16px;
  font-weight: bold;
  top: 266px !important;
  left: 290px !important;
}

.separate {
  color: #9196a2ad;
  border-bottom: 1px solid #9196a2ad;
}

// タブの切り替え

.tabnav{
    margin: 0;
    padding: 0;
    // border-bottom: 1px solid #9196a2ad;
}
.tabnav li{
    display: inline;
}
.tabnav li a{
  font-size: 20px;
  display: inline-block;
  background: white;
  color: #a7b1c1e0;
  font-family: AppleSDGothicNeo-Medium, AppleSDGothicNeo-Bold, AppleSDGothicNeo-Light,AppleSDGothicNeo-Thin;
  font-weight: bold;
  text-decoration: none;
}
.tabnav li a:hover,
.tabnav li a.active{
    border-bottom: 5px solid #033d58;
}
.tabcontent{
  margin-top: 15px;
    // padding: 20px;
    // border: 1px dotted #ccc;
}

// インフィードリスト

.list {
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
}

.list-title {
  color: #333;
  font-size: 13px;
}

.pv-text,.author-text {
  color: #b5bcc8;
  text-decoration: none !important;
}




//////// スマホShow ////////////

.created_at {
  color: #b5bcc8;
  font-size: 8px;
}

// SNSシェア
.smt-line-logo {
    width: 90px;
    height: 50px;
    display: inline-block;
    background: #7cd02f;
    border-radius: 4px;
    color: white;
    padding: 13px 24px;
    margin-bottom: 4px;
    text-decoration: none !important;
    font-weight: bold;
}

.smt-facebook-logo {
    width: 90px;
    height: 50px;
    display: inline-block;
    background: #3d5e96;
    border-radius: 4px;
    color: white;
    padding: 13px 14px;
    margin-bottom: 4px;
    text-decoration: none !important;
    font-weight: bold;

}
.smt-twitter-logo {
    width: 90px;
    height: 50px;
    display: inline-block;
    background: #67aeeb;
    border-radius: 4px;
    color: white;
    padding: 13px 21px;
    margin-bottom: 4px;
    margin-left: 7px;
    text-decoration: none !important;
    font-weight: bold;
}

//
.top-desc {
  clear: both;
  color: #555;
  font-size: 13px;
  font-weight: normal;
  line-height: 1.5;
  padding: 15px;
  background: #f3f3f3;
}

// ad
.ad-infeed {
  padding: 20px 12px !important;
  background: red;
  height: 100px;
}

// ad-footer
.ad-square {
  // margin: 12px;
  background: green;
  // padding: 15px;
  width: 350px;
  height: 250px;
  border: #eee solid 1px;
  margin: 25px 12px 0;
  padding: 16px 15px 20px 15px;
}

// 目次
.mokuji {
    border: #eee solid 1px;
    margin: 25px 12px 0;
    padding: 16px 15px 20px 15px;
    background: #f7f7f7;
    position: relative;
}

.mokuji h1{
  // font-size: 14px;
  font-weight: bold;
  color: #333;
  padding: 0 0 9px;
}

// main

.smt-main-article {
  padding: 12px;
}



/////// Footer ///////

.company-info {
  border-bottom: 2px solid #eee;
}
