

// component


// reset
p {
  margin: 0 !important;
  padding: 0 !important;
}

h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    line-height: 1.4 !important;
}

.smt .container {
  margin: 0 !important;
  padding: 0 !important;
}

.smt .none-style {
  text-decoration: none;
  color: #333333;
}

// custom

.left {
  text-align: left;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}

// テキスト
.bold {
  font-weight: bold;
}

.font14 {
  font-size: 14px;
}
.font16 {
  font-size: 16px;
}
.font18 {
  font-size: 18px;
}
.font20 {
  font-size: 20px;
}
.font26 {
  font-size: 26px;
}

// パディング

.p10 {
  padding: 10px;
}
.p15 {
  padding: 15px;
}
.p20 {
  padding: 20px;
}

.pt10{
  padding-top: 10px;
}
.pt20{
  padding-top: 20px;
}
.pt30{
  padding-top: 30px;
}
.pt40{
  padding-top: 40px;
}
.pt50{
  padding-top: 50px;
}

.pb10{
  padding-bottom: 10px;
}
.pb20{
  padding-bottom: 20px;
}
.pb30{
  padding-bottom: 30px;
}
.pb40{
  padding-bottom: 40px;
}
.pb50{
  padding-bottom: 50px;
}

.pl10 {
  padding-left: 10px;
}
.pl20 {
  padding-left: 20px;
}
.pl30 {
  padding-left: 30px;
}
.pl40 {
  padding-left: 40px;
}
.pl50 {
  padding-left: 50px;
}
.pl60 {
  padding-left: 60px;
}

.pr10 {
  padding-right: 10px;
}
.pr20 {
  padding-right: 20px;
}
.pr30 {
  padding-right: 30px;
}
.pr40 {
  padding-right: 40px;
}
.pr50 {
  padding-right: 50px;
}
// マージン
.mt10 {
  margin-top: 10px;
}
.mt20 {
  margin-top: 20px;
}
.mt30 {
  margin-top: 30px;
}
.mt40 {
  margin-top: 40px;
}
.mt50 {
  margin-top: 50px;
}

.mb10 {
  margin-bottom: 10px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb30 {
  margin-bottom: 30px;
}
.mb40 {
  margin-bottom: 40px;
}
.mb50 {
  margin-bottom: 50px;
}

.ml10 {
  margin-left: 10px;
}
.ml20 {
  margin-left: 20px;
}
.ml30 {
  margin-left: 30px;
}
.ml40 {
  margin-left: 40px;
}
.ml50 {
  margin-left: 50px;
}
.mr10 {
  margin-right: 10px;
}
.mr20 {
  margin-right: 20px;
}
.mr30 {
  margin-right: 30px;
}
.mr40 {
  margin-right: 40px;
}
.mr50 {
  margin-right: 50px;
}
