
<div class="side-article-list border-left">
  <% @osusume_articles.each do |article| %>
  <!-- 記事を縦に10個くらい表示させる -->
  <!-- 写真 --><!-- 説明文 -->

  <div class="article-list-content">
    <div class="col-sm-3 col-xs-3">
      <div class="mini-img">
        <%= image_tag article.picture.url, :size => "65x55", class: 'side-img' if article&.picture %>
      </div>
    </div>
    <div class="col-sm-9 col-xs-9 erace-pl erace-pr">
      <div class="article-list-text">
        <%= link_to article.title.truncate(36), article_path(article) %>
      </div>
      <p>by Koki</p>
    </div>
  </div>
  <% end %>
</div>
