<footer class="mt20">
  <h3 class="center font20 bold">アプ速をフォローしよう！</h3>
  <div class="company-info pl30 pb20">
    <div class="row pt20">
      <div class="col-xs-6">
        <p class="">TOPページ</p>
      </div>
      <div class="col-xs-6">
        <p>アプ速について</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <p>まとめ一覧</p>
      </div>
      <div class="col-xs-6">
        <p>利用規約</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <p>採用情報</p>
      </div>
      <div class="col-xs-6">
        <p>お問い合わせ</p>
      </div>
    </div>
  </div>
</footer>
