<!-- スマホ用HTML -->

<!-- 背景 -->
<div class="smt background-img">
  <!-- <div class="pattern1">
    <img src="css/logo.jpg" alt="">
  </div> -->


  <div class="transparent">
    <div class="top-pr">
      アプリ速報！
      <!-- <div class="left-top">
      </div> -->
      <div class="right-top smt">
        <!-- 🔍 -->
        <!-- <a href="http://www.cultrecords.com/" target="blank"> <待望>前世の人々が熱狂したバンド復活<hr>check it !</a> -->
      </div>

    </div>


    <!-- ハンバーガー -->
    <!-- https://www.adchsm.com/slidebars/help/usage/adding-off-canvas-slidebars/ -->
    <div class="menu-collapsed">
      <div class="bar" id="nav-drawer"></div>
        <input id="nav-input" type="checkbox" class="nav-unshown">
        <label id="nav-open" for="nav-input"><span></span></label>
        <label class="nav-unshown" id="nav-close" for="nav-input"></label>
        <div id="nav-content">
          <li><a href="#acac-news">NEWS</a></li>
          <li><a href="#acac-shows">SHOWS</a></li>
          <li><a href="#acac-videos">VIDEOS</a></li>
          <li><a href="#acac-discography">DISCOGRAPHY</a></li>
          <li><a href="#acac-photos">PHOTOS</a></li>
          <li class="icons">
            <a href="https://www.youtube.com/watch?v=pNfHoPIxhXM" target="_blank">
              <i class="fab fa-youtube fa-lg"></i></a>
            <a href="https://twitter.com/OfMontrealNews" target="_blank"><i class="fab fa-twitter fa-lg"></i></a>
            <a href="https://www.instagram.com/1000bero_net/?hl=ja" target="_blank"><i class="fab fa-instagram fa-lg"></i></a>
            <a href="https://soundcloud.com/yakenohara/yim7" target="_blank"><i class="fab fa-soundcloud fa-lg"></i></a>
            <a href="https://open.spotify.com/artist/0epOFNiUfyON9EYx7Tpr6V" target="_blank"><i class="fab fa-spotify fa-lg"></i></a>
          </li>
        </div>
    </div>






    <!-- <div class="menu-collapsed">
      <div class="bar"></div>
      <nav>
        <ul>
          <li><a href="#strokes-news">NEWS</a></li>
          <li><a href="#strokes-shows">SHOWS</a></li>
          <li><a href="#strokes-videos">VIDEOS</a></li>
          <li><a href="#strokes-discography">DISCOGRAPHY</a></li>
          <li><a href="#strokes-photos">PHOTOS</a></li>
          <li class="icons"><a href="https://www.facebook.com/thestrokes" target="_blank"><i class="fa fa-facebook"></i></a><a href="https://twitter.com/thestrokes" target="_blank"><i class="fa fa-twitter"></i></a><a href="http://instagram.com/thestrokes" target="_blank"><i class="fa fa-instagram"></i></a><a href="http://www.vevo.com/artist/the-strokes" target="_blank"><i class="fa fa-youtube-play"></i></a><a href="https://open.spotify.com/artist/0epOFNiUfyON9EYx7Tpr6V" target="_blank"><i class="fa fa-spotify"></i></a></li>
        </ul>
      </nav>
    </div> -->

    <div class="container">
      <div class="col-xs-12">
        メイン幅いっぱいにする
      </div>
    </div>

    <div class="container">
      <div class="col-sm-6 col-xs-6">
        サブメイン1
        サブメイン1
        サブメイン1
        サブメイン1
        サブメイン1
        サブメイン1
        サブメイン1
        サブメイン1
        サブメイン1
        サブメイン1
        サブメイン1
        サブメイン1

      </div>
      <div class="col-sm-6 col-xs-6">
        サブメイン2
        テスト
        サブメイン2
        テスト
        サブメイン2
        テスト
        サブメイン2
        テスト
      </div>
    </div>



  </div>
</div>
