/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* コンポーネント */
.mini {
  font-size: 6px;
}

.mt30 {
  margin-top: 30px;
}
.mt40 {
  margin-top: 40px;
}
.mt50 {
  margin-top: 50px;
}

.mb30 {
  margin-bottom: 30px;
}
.mb50 {
  margin-bottom: 50px;
}


.pt10 {
 padding-top: 10px;
}
.pt20 {
 padding-top: 20px;
}
.pt30 {
 padding-top: 30px;
}
.pt40 {
 padding-top: 40px;
}

.pt50 {
 padding-top: 50px;
}

.pb50 {
 padding-bottom: 50px;
}

.pl10 {
  padding-left: 10px;
}
.pl20 {
  padding-left: 20px;
}
.pl30 {
  padding-left: 30px;
}

.border-left {
  border-left: solid 1px #eee;
}

.bar-top{
  /* width: 100%;
  height: 30px;
  background-color: navy; */
}

.top-text {
  background-image: linear-gradient(to right, #130e63e3 0%, #33310c 51%, #bf0843 100%) !important;

  text-align: right;
  padding: 5px 25px 5px 3px;
  color: white;
  /* // font-weight: bold; */
}

.navbar {
  margin-bottom: 0px !important;
}

.navbar-default {
    background-color: #ffffff;
    border-color: #e7e7e7;
}

/* パンくずリスト */
.pan {
padding-left: 20px;
padding-top: 10px;
padding-bottom: 10px;
border-bottom: 1px solid #eee;
}




/* footer */
.bg-footer1 {
 border-top: solid 2px #1c233e;
 color: #666;
 padding-top: 20px;
 padding-bottom: 20px;
 /* background: linear-gradient(#eceef1,#a3a6b3); */
}

.bg-footer2 {
 color: white;
 padding-top: 20px;
 padding-bottom: 20px;
 background-color: #c5134c !important;
}
