// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// TOPページ   /articles
.pickup {
  background-color: #eee;
  border-top: solid 2px #32344c;
  border-bottom: solid 1px #32344c;
}

.main_background {
  // width: 89%;
  width: 100%;
  background: #fff;
  border: 1px solid #eee;
  padding: 10px;

}
.main_article {

    padding-top: 15px;
    padding-bottom: 2px;
    background: #fff;
    border: 1px solid #eee;
}

.article1 {

}

.article2 {
  // float: left;
}
.text-wrapper{
  width: 320px;
}

.main_img {
    // width: 320px;
    // height: 192px;
    // background-position: center;
    // background-size: cover;
}

.youtube_article {
  padding: 15px;
  background: #fff;
  border: 1px solid #eee;
  // float: right;
}
.title-color {
  color: #3b4650;
}
.gray-text {
  color: #999;
}


// Show ページ /articles/100
.created-time {
  padding-top: 20px;
  color: #a9b1aef7;
  font-size: 13px;
}

.article-title {
  border-bottom: solid 3px #20164a;
}



.article-body {
  padding-top: 30px;
}

.osusume {
  padding-left: 8px;
  border-left: solid 3px #20164a;
}
.osusume-title {
  // padding-left: 16px;
  margin-bottom: 0px !important;
  color: #183065;
  font-weight: bold;
}

// right-side-list

//
.article-list-content {
  // position: relative;
  height: 64px;
  padding: 6px 0;
}
.mini-img {
  width: 60px;
  // display: table-cell;
}
.side-img {
  // padding-right: 10px;
}

.icon_rank {
  position: absolute;
  top: -8px;
  left: 6px;
  background-color: #f7254ab5;
  color: white;
  font-weight: bold;
  padding: 5px 10px 5px 10px;
  border-radius: 9px;
}
.article-list-text {
  font-size: 12px;
  // float: left;
  // display: inline;
}

// ad 広告

.ad-space {
  width: 300px;
  height: 250px;
  border: 2px solid #eee;
}


//
// .article_list_thumb {
//     display: table-cell;
//     vertical-align: top;
// }
//
// .icon_rank {
//     position: absolute;
//     top: 2px;
//     left: -6px;
// }
// .article_list_text {
//     display: table-cell;
//     width: 100%;
//     vertical-align: middle;
// }
// .side_article_title {
//     padding-top: 2px;
//     font-size: 12px;
// }
// .side_article_title a {
//     display: block;
// }
//
// .side_article_user {
//     margin-top: 1px;
//     font-size: 11px;
// }
