<footer>
  <div class="bg-footer1 col-sm-12 col-xs-12 text-center">
    <div class="col-sm-3">
      <h5>カテゴリ一覧</h5>
      <p>美容</p>
      <p>ゲーム</p>
      <p>れのん</p>
      <p>ノエル</p>
      <p>アイス</p>
    </div>
    <div class="col-sm-3">
      <p>ビール</p>
      <p>夏フェス</p>
      <p>車</p>
      <p>スタバ</p>
    </div>
    <div class="col-sm-3">
      <p>お問い合わせ</p>
      <p>よくある質問</p>
      <p>利用規約</p>
      <p>運営会社</p>

    </div>
    <div class="col-sm-3">
      <p>Instagram</p>
      <p>Twitter</p>
      <p>Facebook</p>
      <p>Line</p>
    </div>
  </div>

  <div class="bg-footer2 col-sm-12 col-xs-12 text-center">
    Copyright (c) 2018 APPSOKU All Rights Reserved.
  </div>
</footer>
